/* ОБЩИЕ СТИЛИ */

body {
  background: url(../images/background.jpg);
}

ul {
  list-style-type: none;
}

.gen-button {
  color: white;
  padding: 12px 35px;
  background-color: #6a5a8b;
  border: none;
}

.gen-button:hover {
  background-color: #4e4269;
}

/* конец ОБЩИЕ СТИЛИ */

/* НАВИГАЦИЯ */

/* Перебиваем стили бутстрапа: */
nav.navbar {
  border: none;
  border-radius: 0;
  border-bottom: solid #6a5a8b 8px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  min-height: 80px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover  {
  color: black;
  background-color: transparent;
}

/* конец Перебиваем стили бутстрапа */

.logo {
  float: left;
  margin-top: 8px;
  margin-left: 35px;
}

@media (min-width: 768px) {
  .nav.container {
    position: relative;
  }

  nav.navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  .navbar ul {
    padding: 0 30px 0 0;
  }

  .navbar ul li a {
    padding-top: 45px;
  }

  .navbar li.active {
    border-bottom: solid white 8px;
    margin-bottom: -8px;
  }

  .navbar li:hover {
    border-bottom: solid #3e275d 8px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: -8px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  nav.navbar ul {
    padding-right: 0;
  }

  nav.navbar li {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .navbar .navbar-nav {
    float: none;
    text-align: center;
  }
  .navbar .navbar-nav > li {
      float: none;
  }
  .navbar .nav > li {
      display: inline;
  }
  .navbar .nav > li > a {
      display: inline-block;
  }

  nav.navbar ul {
    float: right;
    width: 500px;
  }

  nav.navbar ul li {
    display: block;
    max-width: 200px;
  }

  nav.navbar li:hover,
  nav.navbar li.active {
    border-bottom: none; /* убираем подчёркивание, когда элементы меню стали двустрочными */
  }

  nav.navbar ul li a {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .navbar {
    margin: 0;
  }

  .navbar-default .navbar-collapse {
    border: none;
  }

  .nav.container {
    padding-right: 0;
  }

  nav.navbar li.active {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
/* конец НАВИГАЦИЯ */

/* ФУТЕР*/
footer.container {
  background: url(../images/background-footer.jpg.png);
  color: white;
  padding: 3% 6% 1% 6%;
  vertical-align: middle;
  margin-top: 3%;
}

footer img {
  margin-top: 5%;
  float: left;
}

footer h4 {
  margin-top: 0;
}

footer ul {
  text-align: right;
  font-size: 16px;
  float: right;
  margin-right: 30px;
  border-right: white 3px solid;
  padding: 0 30px 20px 0;
}

footer a,
footer a:hover,
footer a:focus,
footer a:active {
  color: white;
  text-decoration: none;
}

footer li.selected::before {
  content: '> ';
}

footer li.selected::after {
  content: ' <';
}

.contacts-footer {
  text-align: right;
  float: right;
}

@media (max-width: 768px) {
  .contacts-footer {
    margin-top: 5%;
  }
}

/* конец ФУТЕР*/


/* -------------------------
    ГЛАВНАЯ страница:
-------------------------  */

/* ГЛАВНЫЙ РАЗДЕЛ  */
.main-section {
  background: url(../images/main-page-background.jpg) no-repeat;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 30px;
}

@media (min-width: 1200px) {
  .main-section {
    height: 100vh;
  }
}

.main-section .main-image {
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .main-section {
    padding-top: 0;
  }

  .main-section h2 {
    font-size: 20px;
  }
}
/* конец ГЛАВНЫЙ РАЗДЕЛ  */

/* О РЕСТОРАНЕ (НА ГЛАВНОЙ)  */
.about-on-mainpage {
  padding-top: 40px;
}

@media (min-width: 992px) {
  .about-on-mainpage .row + .row {
    padding: 0 60px; /* уменьшаем ширину второго роуа в этом контейнере */
  }
}

@media (min-width: 768px) {
  .about-on-mainpage h3 {
    margin-top: 55px;
  }
}

.about-on-mainpage .row + .row {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .about-on-mainpage .img-responsive {
    margin: 0 auto;
  }
}

.about-on-mainpage .col-sm-8 img {
  margin: 0 auto; /* центрируем рисунок интерьера */
}

.about-on-mainpage .col-sm-2 img {
  padding: 10px; /* отступ к рисунку "ЕВРОПЕЙСКАЯ-ВОСТОЧНАЯ-КАЗАХСКАЯ" кухни */
}
/* конец О РЕСТОРАНЕ (НА ГЛАВНОЙ) */

/* НОВОСТИ (НА ГЛАВНОЙ)  */
.news-on-mainpage {
  margin-top: 30px;
}

.news-on-mainpage .row {
  display: flex;
}

.news-on-mainpage .col-sm-8 {
  color: white;
  font-size: 20px;
  background: url(../images/tomato-on-table.jpg) no-repeat;
  background-size: cover;
  padding: 20px;
}

@media (max-width: 992px) {
  .news-on-mainpage .col-sm-8 {
    font-size: 16px;
  }

  .news-on-mainpage .col-sm-8 h3 {
    margin-top: 0;
  }
}

.news-on-mainpage .col-sm-4 {
  background: url(../images/champagne.jpg) no-repeat;
  background-size: 100% 100%;
}

.news-on-mainpage a,
.news-on-mainpage a:hover {
  text-decoration: underline;
  color: white;
}

@media (min-width: 1200px) {
  .news-on-mainpage .col-sm-8 {
    padding: 40px 240px 40px 80px;
  }
}

/* конец НОВОСТИ (НА ГЛАВНОЙ)  */

/* ОБРАТНАЯ СВЯЗЬ (НА ГЛАВНОЙ)  */

@media (min-width: 1200px) {
  .container.feedback-on-main { /*  делаем контейнер для раздела отзывов уже */
    max-width: 1040px;
  }
}

.container.feedback-on-main .line {
  height: 4px;
  background-color: black;
}

.container.feedback-on-main h3 {
  margin-bottom: 35px;
}

.feedback-on-main label {
  font-size: 18px;
  font-weight: normal;
}

.feedback-on-main input {
  display: block;
  width: 100%;
  border: 2px solid black;
  padding: 8px;
  background-color: transparent;
  margin-bottom: 2%;
  font-size: 18px;
}

@media (min-width: 768px) {
  .feedback-on-main input[type=submit] {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .feedback-on-main input[type=submit] {
    background-color: rgba(255, 255, 255, .7);
  }
}

/* конец ОБРАТНАЯ СВЯЗЬ (НА ГЛАВНОЙ)  */

/* -------------------------
    конец ГЛАВНАЯ страница
-------------------------  */

/* -------------------------
   страница О РЕСТОРАНЕ
-------------------------  */
/* ГЛАВНЫЙ РАЗДЕЛ (по элеменам и стилям cхож с одномённым разделом на главной странице) */
.main-section .logo-big {
  margin: 4% auto 2% auto;
}

@media (min-width: 1200px) {
  .main-section.about .container {
    width: 900px;
  }
}
/* конец ГЛАВНЫЙ РАЗДЕЛ */

/* О РЕСТОРАНЕ ТЕКСТ*/
.about-text-container h3 {
  text-align: center;
}

.about-text-container p {
  text-align: justify;
  text-indent: 15px;
}
/* конец О РЕСТОРАНЕ ТЕКСТ*/

/* КАРТИНКИ О РЕСТОРАНЕ */
.pictures-about img {
  margin: 3% auto;
}

@media (min-width: 1200px) {
  .pictures-about img {
    width: 100%;
  }

  .pictures-about .row {
    display: flex;
    align-items: center;
  }
}
/* конец КАРТИНКИ О РЕСТОРАНЕ */

/* -------------------------
 конец страницы О РЕСТОРАНЕ
-------------------------  */

/* -------------------------
    страница НОВОСТИ
-------------------------  */
/*НОВОСТИ*/
.news {
  margin-top: 90px;
}

@media (max-width: 768px) {
  .news {
    margin-top: 0;
  }
}

.news article h3 {
  text-indent: 8%;
  color: #6a5a8b;
}

@media (max-width: 768px) {
  .news article h3 {
    text-indent: 0;
    text-align: center;
  }
  .news .col-sm-3 img {
    margin: 3% auto;
  }
}


.news .date  {
  margin-bottom: 0;
}

.news .date::before {
  content: url(../images/news/clock.png);
  margin-right: 5px;
  vertical-align: sub;
}

/*конец НОВОСТИ*/
/* -------------------------
   конец страница НОВОСТИ
-------------------------  */
/* -------------------------
   страница ГАЛЕРЕЯ
-------------------------  */

/* ГЛАВНЫЙ РАЗДЕЛ (по элеменам и стилям cхож с одномённым разделом на главной странице) */
.main-section.gallery {
  background: none; /* в отличие от главной страницы, в странице галереи не будет фона */
  height: auto;
  padding-bottom: 0;
}

.main-section.gallery .link-captions {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-right: 26%;
  margin-left: 2%;
}

.main-section.gallery .link-captions a {
  color: #333;
}

.main-section.gallery .link-captions a:hover {
  color: #6a5a8b;
}

@media (max-width: 992px) {
  .main-section.gallery .link-captions {
    font-size: 18px;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .main-section.gallery .link-captions {
    font-size: 12px;
  }
}

/* конец ГЛАВНЫЙ РАЗДЕЛ */

/* ЗАГОЛОВОК И ХЛЕБНЫЕ КРОШКИ */
.heading-and-breadcrumbs {
  position: relative;
  color: white;
  background: #6a5a8b;
}

.heading-and-breadcrumbs h2 {
  display: inline-block;
  margin-left: 3%;
  font-weight: bold;
}

.heading-and-breadcrumbs p {
  float: right;
  margin: 20px 10px 10px;
}

.heading-and-breadcrumbs a {
  color: white;
}
/* конец ЗАГОЛОВОК И ХЛЕБНЫЕ КРОШКИ */

/* СПИСОК ФОТО */
.photolist {
  margin-top: 2%;
}

.photolist .col-sm-4 {
  padding: 5px;
}
/* конец СПИСОК ФОТО */

/* УПРАВЛЕНИЕ ПАГИНАЦИЕЙ */
.pagination button {
  background: #c2c1e6;
  border-color: #6a5a8b;
}

.pagination.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.pagination.btn-group>.btn:last-child:not(:first-child) {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

/* конец УПРАВЛЕНИЕ ПАГИНАЦИЕЙ */

/* МОДАЛЬНОЕ ОКНО */
#galleryModal img.img-responsive {
  width: 100%;
}

#galleryModal .modal-header {
  background-color: #6a5a8b;
  border-bottom: none;
  color: white;
  font-weight: bold;
}

#galleryModal .modal-body {
  padding: 0;
  position: relative;
}

#galleryModal .modal-body .arrow {
  position: absolute;
  top: 40%;
}

#galleryModal .modal-body .arrow:hover {
  opacity: .9;
}

#galleryModal .modal-body .arrow.left {
  left: 2%;
}

#galleryModal .modal-body .arrow.right {
  right: 2%;
}

#galleryModal .modal-content {
 border-radius: 0;
}
  /* конец МОДАЛЬНОЕ ОКНО */

/* -------------------------
   конец страницы ГАЛЕРЕЯ
-------------------------  */

/* -------------------------
    страница УСЛУГИ
-------------------------  */
/*УСЛУГИ*/
.services {
  margin-top: 90px;
  text-align: center;
}

@media (max-width: 768px) {
  .services {
    margin-top: 0;
  }
}
.services .col-sm-4 {
  margin-top: 3%;
}

@media (min-width: 1200px) {
  .services .col-sm-4 {
    height: 470px;
    padding: 0 50px;
  }
}

.services img {
  margin: 0 auto;
}

.services h5 {
  margin-bottom: 0;
  font-weight: bold;
}


/*конец УСЛУГИ*/
/* -------------------------
   конец страницы УСЛУГИ
-------------------------  */

/* -------------------------
    страница МЕНЮ
-------------------------  */
/*МЕНЮ*/
.menu {
  margin-top: 90px;
}

@media (max-width: 768px) {
  .menu {
    margin-top: 0;
  }
}

.menu .col-sm-6 {
  margin-top: 40px;
}

@media (min-width: 1200px) {
  .menu .col-sm-6 {
    padding: 0 30px;
  }
}

.menu .img-container {
  position: relative;
}

.menu .img-container img {
  width: 100%;
}

.menu .img-container h2 {
  font-weight: bold;
  color: white;
  background-color: rgba(255,255,255,0.22);
  margin: 0;
  padding: 15px 10%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.menu p {
  font-size: 24px;
  margin: 0;
}

.menu p:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.09);
}

.menu p span {
  float: right;
}

@media (max-width: 768px) {
  .menu .col-sm-6 {
    margin-top: 20px;
  }

  .menu .img-container h2 {
    font-size: 20px;
  }

  .menu p {
    font-size: 14px;
  }
}
/*конец МЕНЮ*/
/* -------------------------
   конец страницы МЕНЮ
-------------------------  */

/* -------------------------
    страница ВОПРОС-ОТВЕТ
-------------------------  */

/* РАСПЛЫВЧАТАЯ КАРТИНКА */

@media (min-width: 1200px) {
  .image-faq.container {
    width: 1200px;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .image-faq.container {
    display: none;
  }
}

/* конец РАСПЛЫВЧАТАЯ КАРТИНКА */

/* ВОПРОСЫ И ОТВЕТЫ */
.faq article {
  font-size: 16px;
  border: #6a5a8b 4px solid;
  padding: 15px;
  max-width: 1000px;
  margin: 0 auto;
}

.faq article + article {
  margin-top: 3%;
}

.faq article .question::before {
  content: url(../images/faq/icon-user.png);
  margin-right: 15px;
}

.faq article .answer::before {
  content: url(../images/faq/icon-chat.png);
  margin-right: 15px;
}

@media (max-width: 768px) {
  .faq article {
    border: none;
  }
}
/* конец ВОПРОСЫ И ОТВЕТЫ */

/* ЗАДАТЬ ВОПРОС */
@media (min-width: 1200px) {
  .ask.container {
    width: 1000px;
    padding: 0;
  }
}

.ask input:not([type=submit]) {
  margin: 0 15px 15px 0;
  padding: 5px 5px 5px 30px;
  border: 1px solid #cbcbcb;
  font-size: 16px;
}

.ask input.name,
.ask input.email {
  background-color: white;
  background-repeat: no-repeat;
  background-position: 5px 50%;
}

.ask input.name {
  background-image: url(../images/icon-input-user.png);
}

.ask input.email {
  background-image: url(../images/icon-input-mail.png);
}

@media (max-width: 768px) {
  .ask input {
    width: 100%;
  }
}

.ask textarea {
  display: block;
  width: 100%;
  resize: none;
  padding: 15px;
  font-size: 16px;
  margin-bottom: 15px;
}

/* конец ЗАДАТЬ ВОПРОС */

/* -------------------------
 конец страницы ВОПРОС-ОТВЕТ
-------------------------  */


/* -------------------------
    страница ОТЗЫВЫ
-------------------------  */

/* ОТЗЫВЫ */
.reviews {
  margin-top: 90px;
}

@media (min-width: 1200px) {
  .reviews.container {
    width: 1000px;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .reviews {
    margin-top: 0;
  }
}

.reviews article {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 15px;
}

.reviews .avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  float: left;
  margin: 0 20px;
}

.reviews article .review-text {
  border-bottom: 1px solid #6a5a8b;
  flex: 1 0;
}

.reviews article .date {
  text-align: center;
  align-self: flex-end;
  flex: 0 1 100px;
}

.reviews article + article {
  margin-top: 2%;
}

@media (max-width: 480px) {
  .reviews article + article {
    margin-top: 0;
  }

  .reviews .avatar {
    margin: 0 auto;
  }

  .reviews article {
    flex: 1 0 auto;
    flex-flow: column nowrap;
  }

  .reviews article .date {
    flex: 0 1 20px;
  }
}

/* конец ОТЗЫВЫ */

/* -------------------------
 конец страницы ОТЗЫВЫ
-------------------------  */

/* -------------------------
    страница КОНТАКТЫ
-------------------------  */

/* КОНТАКТЫ */
.contacts {
  margin-top: 90px;
}

@media (max-width: 768px) {
  .contacts {
    margin-top: 0;
  }
}

.contacts {
  font-size: 20px;
}

.contacts a,
.contacts a:hover,
.contacts a:focus,
.contacts a:active {
  color: #222;
  text-decoration: none;
}


/* конец КОНТАКТЫ */

/* -------------------------
 конец страницы КОНТАКТЫ
-------------------------  */